snippet jm "jupytext markdown cell"
# %% [markdown]
# $0
endsnippet

snippet jmm "jupytext markdown cell with multiline comments"
# %% [markdown]
"""
$0
"""
endsnippet

snippet jc "jupytext code cell"
# %%
$0
endsnippet
